spring:
  application:
    name: sso
server:
  port: 9999
logging:
  level:
    org.springframework: warn
    org.springframework.security: debug
    org.springframework.web.filter: debug
security:
  oauth2:
    client:
      client-id: acme
      client-secret: acmesecret
      user-authorization-uri: http://localhost:8080/oauth/authorize
      access-token-uri: http://localhost:8080/oauth/token
      access-token-validity-seconds: 36000
      scope:
      - read
      - write
      - profile
      - openid
    resource:
      user-info-uri: http://localhost:8080/me